@import "tailwindcss";

@theme {
    --font-primary: 'Crimson Text', sans-serif;
    --font-secondary: 'Work Sans', sans-serif;
    --color-primary: #74C69D;
    --color-dark: #212529;
    --tracking-really-wide: .3rem;
}